@mixin setIcon($iconName, $svgSource, $bgPosX, $bgPosY, $width, $height) {
    .#{$iconName} {
        background: $svgSource no-repeat $bgPosX $bgPosY;
        width: $width;
        height: $height;
    }
}

$svgSource1: url('https://jspaint.app/images/classic/tools.svg');
@mixin setIconTools($iconName, $svgSource, $iconIndex) {
  .#{$iconName} {
    background-position: -16px * ($iconIndex * 2 + 1) -16px;
    background-image: $svgSource;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
}
@include setIconTools(mi-free-select, $svgSource1, 0);
@include setIconTools(mi-select, $svgSource1, 1);
@include setIconTools(mi-eraser, $svgSource1, 2);
@include setIconTools(mi-fill-color, $svgSource1, 3);
@include setIconTools(mi-pick-color, $svgSource1, 4);
@include setIconTools(mi-magnifier, $svgSource1, 5);
@include setIconTools(mi-pencil, $svgSource1, 6);
@include setIconTools(mi-brush, $svgSource1, 7);
@include setIconTools(mi-airbrush, $svgSource1, 8);
@include setIconTools(mi-text, $svgSource1, 9);
@include setIconTools(mi-line, $svgSource1, 10);
@include setIconTools(mi-curve, $svgSource1, 11);
@include setIconTools(mi-rectangle, $svgSource1, 12);
@include setIconTools(mi-polygon, $svgSource1, 13);
@include setIconTools(mi-ellipse, $svgSource1, 14);
@include setIconTools(mi-rounded-rectangle, $svgSource1, 15);